<p>
  Enlazo datos del .ts {{dato}}
</p>
<input type="text" name="" value="" [(ngModel)]="dato">
<p [hidden]="dato">Esto se modificará al escribir en el input</p>
<p [hidden]="!dato">Esto se muestra al escribir cualquier cosa en el input</p>
<button type="button" name="button" (click)="clickeame()">Pincha para sumar clicks</button>
<p [style.color]="'blue'">El numero de clicks es: {{clicks}}</p>

<table>
  <tr *ngFor="let objeto of elementos">
    <td>{{objeto.nombre}}</td>
    <td *ngIf="objeto.estado=='Activo'">Activo</td>
  </tr>
</table>



<p [ngClass]="{corta: palabra < cantidad, larga: cantidad < palabra}">{{texto}}</p>
<input type="text" name="" value="" [(ngModel)]="comprobacion"> <button type="button" name="button" (click)="contador()">Comprobar</button>

<button type="button" name="button" (click)="datos()">Realizar peticion</button>
