<div class="row">
  <div class="col-1 clearfix">

  </div>
  <div class="col-12" *ngFor="let elemento of arrayContenido">
    <div class="row">
      <div class="col-2 offset-1 valores">
        <img src="{{elemento.thumbnail.path}}/portrait_incredible.jpg" alt="">
      </div>
      <div class="col-5">
        <div class="info">
          <h4>TITULO</h4>
          <p>{{elemento.title}}</p>
          <h4>DESCRIPCION</h4>
          <p>{{elemento.description}}</p>
        </div>
      </div>
    </div>

  </div>

</div>

<button type="button" name="button" (click)="probando()">probando</button>
